/*
 *  Bulldozer Authentication
 */

.bud-login-bg,
.bud-register-bg {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../img/blur-bg.jpg") no-repeat center center; 
    background-size: cover;
    background-attachment: fixed;
    text-align: center;

    /* Align to vertical center */
    &:before {
        content: '';
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
    }
}

.bud-login {
    @include topbar-panel;

    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    border: none;
    margin: 0 auto;
    background-color: #FEFEFE;
    max-width: 480px;
    width: auto;

    @include box-shadow(0 0 100px 3px rgba(0,0,0,0.2));

    .bud-link {
        font-size: rem-calc(12px);
    }

    @media #{$small-only} {
        margin: 15px auto;
        width: 92% !important;
    }
}

.bud-register {
    @extend .bud-login;

    max-width: 700px;
}