/*
 * Bulldozer Control Panel
 */

$bud-ctrl-nav-width: 70px;
$bud-ctrl-nav-expand-width: 265px;
$bud-ctrl-nav-height: $bud-ctrl-nav-width;
$bud-ctrl-nav-bg-color: $bud-primary-color;
$bud-ctrl-nav-color: #3D3D3D;
$bud-ctrl-nav-icon-color: #595959;
$bud-ctrl-nav-hover-bg-color: #3E3E3E;
$bud-ctrl-nav-hover-color: #FFF;
$bud-ctrl-nav-hover-icon-color: $bud-primary-color;
$bud-ctrl-nav-active-bg-color: $bud-primary-color;
$bud-ctrl-nav-active-color: #393939;

$bud-ctrl-view-bg-color: #F2F2F2;
$bud-ctrl-view-nav-bg-color: #FFF;
$bud-ctrl-view-nav-color: #747B84;


#bud-ctrl {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: 100%;
	background-color: $bud-ctrl-view-bg-color;

	#bud-ctrl-nav {
		position: absolute;
		top: 0;
		left: 0;
		width: $bud-ctrl-nav-width;
		min-height: 100%;
		overflow: hidden;
		background-color: $bud-ctrl-nav-bg-color;

		@include bud-transition();

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: block;
				margin: 0;
				padding: 0;

				a {
					position: relative;
					display: block;
					width: $bud-ctrl-nav-width;
					padding: 0;
					margin: 0;
					vertical-align: middle;
					color: $bud-ctrl-nav-color;
					font: $bud-main-font;
					
					@include user-select(none);
					@include bud-transition();

					i {
						margin: 0;
						padding: 0;
						width: $bud-ctrl-nav-width;
						line-height: $bud-ctrl-nav-height;
						color: $bud-ctrl-nav-icon-color;
						font-size: 35px;
						text-align: center;
						vertical-align: middle;
					}

					span {
						position: absolute;
						display: block;
						top: 0;
						bottom: 0;
						right: 0;
						left: 0;
						margin: 0;
						padding: 0 5px 0 $bud-ctrl-nav-width + 1px;
						line-height: $bud-ctrl-nav-height;
						vertical-align: middle;
						font: $bud-main-font;
						font-size: 0.8em;
						font-weight: bold;
						white-space:nowrap;
						text-overflow: ellipsis;
						width: 100%;
						overflow: hidden;

						@include user-select(none);
					}

					&:hover {
						background-color: $bud-ctrl-nav-hover-bg-color;
						color: $bud-ctrl-nav-hover-color;

						i {
							color: $bud-ctrl-nav-hover-icon-color;
						}
					}

					&.active,
					&.active:hover {
						background-color: $bud-ctrl-nav-active-bg-color;
						color: $bud-ctrl-nav-active-color;

						i {
							color: $bud-ctrl-nav-active-color;
						}

						&::after {
							right: 0;
							top: 35px;
							border: solid transparent;
							content: " ";
							height: 0;
							width: 0;
							position: absolute;
							pointer-events: none;
							border-color: rgba(136, 183, 213, 0);
							border-right-color: $bud-ctrl-view-nav-bg-color;
							border-width: 10px;
							margin-top: -10px;
						}
					}
				}
			}
		}
	}

	#bud-ctrl-view {
		display: block;
		width: 100%;
		min-height: 100%;
		padding: 0;
		padding-left: $bud-ctrl-nav-width;
		background-color: $bud-ctrl-view-bg-color;

		@include bud-transition();

		#bud-ctrl-view-nav {
			height: $bud-ctrl-nav-height;
			width: 100%;
			padding: 0 0 0 30px;
			background-color: $bud-ctrl-view-nav-bg-color;
			border-bottom: 2px solid #DCDCDC;

			h1 {
				padding: 0;
				margin: 0;
				height: $bud-ctrl-nav-height;
				line-height: $bud-ctrl-nav-height;
				vertical-align: middle;
				font: $bud-main-font;
				font-size: 1.1em;
				font-weight: bold;
				color: $bud-ctrl-view-nav-color;
			}
		}

		#bud-ctrl-view-body {
			padding: 30px;
		}
	}

	&.bud-ctrl-expand {
		#bud-ctrl-nav {
			width: $bud-ctrl-nav-expand-width;

			a  {
				width: $bud-ctrl-nav-expand-width;
			}
		}

		#bud-ctrl-view {
			padding-left: $bud-ctrl-nav-expand-width;
		}
	}
}
