/*
 * Bulldozer Core
 */

body, html {
	font-size: 16px;
	height:100%;
	width:100%;
	padding:0;
	margin:0;
}

body {
    font: 100% $bud-main-font;
    color: $bud-secondary-color;
    background-color: #FFF;
}

code {
    display: block;
    padding: 7px;
    margin: 8px 0;
    background-color: #F1F1F1;
    border: 1px solid #D4D4D4;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-family: Consolas, "courier new";
    font-size: 14px;
    color: #505050;
}

#bud-body,
.bud-page,
.bud-sys-page, {
	position: relative;
}

#bud-script {
	display: none;
}