// Variables
$base-font-size:    16px;
$font-stack:        'Open Sans', sans-serif;
$primary-color:     #505050;
$bg-color:          #ffffff;



/*
 * Goji Core
 */

body, html {
	font-size: $base-font-size;
	height:100%;
	width:100%;
	padding:0;
	margin:0;
}

body {
    font: 100% $font-stack;
    color: $primary-color;
    background-color: $bg-color;
}

code {
    display: block;
    padding: 7px;
    margin: 8px 0;
    background-color: #F1F1F1;
    border: 1px solid #D4D4D4;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-family: Consolas, "courier new";
    font-size: 14px;
    color: #505050;
}

#bud-body,
.bud-page {
	position: relative;
	width: 100%;
	height: 100%;
}

#bud-script {
	display: none;
}