/*
 * Bulldozer TopBar
 */

$bud_topbar_breakpoint: 600px;

$bud_topbar_height: 45px;
$bud_topbar_bg_color: #393939;
$bud_topbar_color: #999999;
$bud_topbar_split_color: #333;
$bud_topbar_hover_bg_color: #3E3E3E;
$bud_topbar_hover_color: #FFF;

$bud_topbar_sub_menu_bg_color: #F6F6F6;
$bud_topbar_sub_menu_color: #444444;


#bud-topbar
{
	position: fixed;
	z-index: 500;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: $bud_topbar_height;
	background-color: $bud_topbar_bg_color;

	> .bud-topbar-logo
	{
		float: left;
		position: relative;
        width: $bud-ctrl-nav-width;
        height: $bud_topbar_height;
        color: $bud_topbar_color;
        padding: 0;
        margin: 0;
        cursor: pointer;

        @include user-select(none);


        &:visited {
        	color: $bud_topbar_color;
        }

        > div {
        	width: 100%;
        	height: 23px;
        	padding: (($bud_topbar_height - 23px) / 2) 0;

        	svg {
        		display: block;
        		margin: auto;
        	}

        	.bud-logo {
        		fill: $bud-primary-color;
        		fill-opacity: 1;
        	}
        }
    }


    /* Menu */

	.bud-left-menu,
	.bud-right-menu
	{
		position: relative;
		float: left;
		list-style: none;
		padding: 0;
		margin: 0;
		height: $bud_topbar_height;

		li {
			float: left;
			position: relative;
			padding: 0;
			margin: 0;
			border-left: solid 1px $bud_topbar_split_color;
	

			&:last-child {
				border-right: solid 1px $bud_topbar_split_color;
			}	

			i {
				font-size: 20px;;
				line-height: 20px;
				vertical-align: middle;
			}

			a, span {
				font: $bud-main-font;
				font-size: 0.86em;
				font-weight: bold;
				text-decoration: none;
				letter-spacing: 1px;
				white-space: nowrap;
				color: $bud_topbar_color;

				@include user-select(none);
			}

			span {
				display: none;
				margin: 0 0 0 3px;

				@media screen and (min-width: $bud_topbar_breakpoint) {
					display: inline-block;
				}
			}

			a {
				display: block;
				padding: 0 10px;
				margin: 0;
				height: $bud_topbar_height;
				line-height: $bud_topbar_height;
				vertical-align: middle;
				cursor: pointer;

				@include bud-transition();
			}

			&:hover > a {
				color: $bud_topbar_hover_color;
				background-color: $bud_topbar_hover_bg_color;

				span {
					color: $bud_topbar_hover_color;
				}

				i {
					color: $bud-primary-color;
				}
			}


			/* Sub Menu */

			ul {
				position: absolute;
				display: none;
				list-style: none;
				padding: 0;
				margin: 0;
				left: 0;
				right: auto;
				width: auto;
				z-index: -1;    
				background-color: $bud_topbar_sub_menu_bg_color;

				// Shadow
				-webkit-box-shadow: 0px 0px 2px 0px rgba(46,46,46,0.8);
				-moz-box-shadow: 0px 0px 2px 0px rgba(46,46,46,0.8);
				box-shadow: 0px 0px 2px 0px rgba(46,46,46,0.8);

				li {
					float: none;
					margin: 0;
					padding: 0;
					display: block;
					border-left: solid 2px $bud_topbar_sub_menu_bg_color;

					a, span {
						display: inline-block;
						color: $bud_topbar_sub_menu_color;
					}

					&:last-child {
						border-right: none;
					}

					&:hover {
						border-left: solid 2px $bud_topbar_split_color;

						> a {
							background-color: $bud_topbar_sub_menu_bg_color;
						}

						a, span {
							color: $bud_topbar_sub_menu_color;
						}
					}
				}
			}

			&:hover > ul {
				display: block;
			}
		}
	}

	.bud-right-menu
	{
		float: right;

		ul {
			left: auto !important;
			right: 0 !important;
		}
	}
}