/*
 * Bulldozer Global Style Settings
 */

$bud-main-font:	'Open Sans', sans-serif;

$bud-primary-color: 	#E5412D;
$bud-primary-color: 	#89CB4E; // Temporary overwritten...
$bud-secondary-color:	#505050;