<div class="click-to-reconnect connection-lost">
	<i class="fa fa-bolt fa-2x"></i>
	<span>
		<p style="padding: 0px; margin:0px;">{{tr "blz.core.connectionLost.title"}}</p>
		<small>{{tr "blz.core.connectionLost.text"}}</small>
	</span>
</div>