<h1>{{tr "blz.page.error.title"}}</h1>
<h2>{{tr "blz.page.error.description"}}</h2>
<div class="details">
	{{tr "blz.page.error.details"}}
	<!-- TODO: Show this error code only if authenticated! -->
	{{if #.ErrorMessage}}<code>Error details: {{#.ErrorMessage}}</code>{{end}}
</div>
<div class="action">
    <a href="/"> {{tr "blz.page.error.goHome"}} </a>
</div>