<div class="bulldozer-register-bg">
<div class="bulldozer-register radius">
<div class="topbar">
    <div class="icon fa fa-plus"></div>
    <div class="title">
        <h3>{{tr "blz.auth.register.title"}}</h3>
    </div>
</div>
<div class="kepler grid" data-kepler-odin="{{id "val"}}">
	<div class="column large-6 space-bottom">
		<label>{{tr "blz.auth.register.nameLabel"}}
			<input id="{{id "name"}}" class="kepler" type="text" maxlength="50" placeholder="{{tr "blz.auth.register.namePlaceholder"}}" required error="{{tr "blz.auth.register.error.name"}}" />
		</label>
	</div>
	<div class="column large-6 space-bottom">
		<label>{{tr "blz.auth.register.usernameLabel"}}
			<input id="{{id "username"}}" class="kepler" type="text" maxlength="30" placeholder="{{tr "blz.auth.register.usernamePlaceholder"}}" required match="alpha_numeric" error="{{tr "blz.auth.register.error.username"}}" />
		</label>
	</div>
	<div class="column large-6 space-bottom">
		<label>{{tr "blz.auth.register.eMailLabel"}}
			<input id="{{id "email"}}" class="kepler" type="email" autocomplete="off" maxlength="40" placeholder="{{tr "blz.auth.register.eMailPlaceholder"}}" required match="email" error="{{tr "blz.auth.register.error.eMail"}}" />
		</label>
	</div>
	<div class="column large-6 space-bottom">
		<label>{{tr "blz.auth.register.verifyEMailLabel"}}
			<input class="kepler" type="email" autocomplete="off" maxlength="40" placeholder="{{tr "blz.auth.register.verifyEMailPlaceholder"}}" required equalTo="{{id "email"}}" error="{{tr "blz.auth.register.error.verifyEMail"}}" />
		</label>
	</div>
	<div class="column large-12">
		<a id="{{id "login"}}" class="bulldozer-link">{{tr "blz.auth.register.loginQuestion"}}</a>
	</div>
	<div class="column large-12">
		<hr></hr>
	</div>
	<div class="column large-12">
		<a id="{{id "register"}}" class="kepler button expand" validate>{{tr "blz.auth.register.registerButton"}}</a>
	</div>
</div>
</div>
</div>
{{js load}}
	$("#{{id "login"}}").click(function() {
		Bulldozer.core.navigate("/login");
	});
	Kepler.odin.valid("{{id "val"}}", function() {
		var name=$.trim($("#{{id "name"}}").val());
		var username=$.trim($("#{{id "username"}}").val());
		var email=$.trim($("#{{id "email"}}").val());
		Bulldozer.loadingIndicator.show();
		{{emit Register(name,username,email)}}
	});
{{end js}}