<div id="bulldozer_top_panel">
	<div class="bulldozer_top_panel_logo"><i class="fa fa-slack"></i> Bulldozer <span>Framework</span></div>
</div>

{{/*
{{js load}}
	$("body").css("padding-top", "40px");
	$("*").filter(function() {
		return $(this).css("position") === "fixed"
			&& $(this).attr("id") !== "bulldozer_top_panel"
			&& $(this).attr("id") !== "bulldozer-loading-indicator"
			&& $(this).attr("class") !== "bulldozer_top_panel_sub_menu";
	}).css("margin-top", "40px");
{{end js}}
{{end}}
*/}}